*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    background-color: #f0f2f5;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 2rem;
    border-radius: 1rem;
    background-color: #f9f9f9;
    box-shadow: 2px 8px 24px rgba(0, 0, 0, 0.1);
}

header {    
    display: flex;
    flex-direction: column;
    width: 100%;
}

.topo {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 1.5rem 0; 
}

.textoCadastro {
    font-size: 23px;
}

.instrucao {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    display: flex;
    gap: 0.7rem;
    padding: 1.8rem;
    padding-top: 0;
}

.textoInstrucao {
    margin-bottom: 0.6rem;
    font-size: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 1rem 0;
}

.caixas {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input {
    width: 100%;
    max-width: 600px;
    padding: 14px;
    border-radius: 0.8rem;
    border: 1px solid #ccc;
    font-size: 16px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.5rem 0;
}

button {
    width: 90%;
    max-width: 600px;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #ff6600;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
}