*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    background-color: #f0f2f5;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    height: 95vh;
    max-height: 850px;
    overflow: hidden;
    border-radius: 1rem;
    background-color: #f9f9f9;
    box-shadow: 2px 8px 24px rgba(0, 0, 0, 0.1);
}

header{    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 2;
    width: 100%;
    background-color: #f9f9f9;
}

.topo{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color:  #f9f9f9;
    width: 100%;
    height: 30%;    
}

.textoCadastro{
    font-size: 23px;
}

.instrucao{
    background-color:  #f9f9f9;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 70%;
    gap: 0.7rem;
    padding: 1.8rem;
}

.textoInstrucao{
    margin-bottom: 0.6rem;
    font-size: 15px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 6;
    width: 100%;
    background-color:  #f9f9f9;
    gap: 2rem;
}

input{
    width: 90%;
    max-width: 600px;
    height: 4vh;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
    border: 1px solid #ccc;
}

footer{
    display: flex;
    justify-content: center;
    align-items: end;
    flex: 2;
    width: 100%;
}

button{
    width: 90%;
    max-width: 600px;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #ff6600;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 2rem;
}