* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', Arial, sans-serif; 
}

html {
    width: 100vw;
    font-size: 16px;
    height: 100%;
}

body {
    background: #fff;
    width: 100vw; 
    min-height: 100vh;
    display: block; 
    padding: 0;
    margin: 0;
}

.app-container {
    width: 100%;
    max-width: none !important; 
    background: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background: #e8470a;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 3rem 1rem 2rem;
    position: relative;
    border-radius: 0;
    margin-bottom: 0 !important; 
    padding-bottom: 2rem;
}

.profile-pic {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    background: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic i {
    font-size: 3rem;
    color: #000;
}

.nome {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    position: relative;
    display: inline-block;
}

.nome::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.0625rem;
    background: #fff;
    margin-top: 0.25rem;
}

.cargo {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #fff;
}


.accordion {
    flex-grow: 1; 
    padding: 0 !important; 
}

.accordion-item,
.accordion-header,
.accordion-button {
    padding-left: 0.5 !important; 
    padding-right: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.accordion-item:first-of-type {
    border-top: none !important; 
    box-shadow: none !important;
}

.accordion-button:focus {
    box-shadow: none !important; 
}

.accordion-body {
    padding-left: 1rem !important; 
    padding-right: 1rem !important;
}

.footer {
    text-align: center;
    padding: 2rem 1rem;
    margin-top: auto; 
}

.btn-voltar {
    background: #FF6600 !important;
    color: #fff !important;
    width: 12rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    padding: 0.75rem 3.125rem;
    border-radius: 2rem;
    cursor: pointer;
    display: inline-block !important; 
    margin: 0;
}

.btn-sair:hover {
    background: #8b0000;
}