* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    font-size: 16px; /* Base para REM */
}

header{
    background-color: #E04300;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    flex: 3;
}

.informacoes {


}

.profile-pic{

    
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(177, 182, 163);
    width: 100%;
    flex: 7;
}

