* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    padding: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 420px;
    height: 90vh;
    max-height: 750px;
    background-color: #000000;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    flex: 2;
    justify-content: center;
    background-color: rgb(12, 53, 12);
}

main {
    display: flex;
    align-items: center;
    width: 100%;
    flex: 5; 
    background-color: rgb(73, 59, 37);
}
.email{
    width: 100%;
    height: 3rem;
    font-size: 1rem;
}

.senha{
    width: 100%;
    height: 3rem;
    font-size: 1rem;
}

.esqueci {
    width: 100%;
    font-size: 0.9rem;
}

footer {
    display: flex;
    align-items: center;
    width: 100%;
    flex: 3;
    background-color: rgb(63, 35, 35);
}
